Model/Library/
Model/Temp/
Model/.vs/
Model/*.csproj/

EasyMotionRecorder/Library/
EasyMotionRecorder/Temp/
EasyMotionRecorder/.vs/
EasyMotionRecorder/*.csproj/

TestKikukawa/Library/
TestKikukawa/Temp/
TestKikukawa/.vs/
TestKikukawa/*.csproj/